{% extends 'base.html' %}

{% block title %}
FINKIForum - {{ predmet.naslov }}
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static "app/css/ForumPredmet.css" %}">
{% endblock %}

{% block body %}

<section>
	<div class="riga-forum">
		<div class="category-title">
			{{ predmet.naslov }}
		</div>
	</div>
	{% for tema in temi %}
	<div class="riga-forum2">
		<div class="topics">
			<div class="topic-section">
				<div class="topic-title"><h3>{{ tema.naslov }}</h3></div>
				<div class="topic-meta">Последна порака: {{ tema.newest_timestamp }}</div>
			</div>
		</div>
		<div class="stats">
			<div class="replies">{{ tema.poraki.count }} пораки</div>
		</div>
		<div class="last-post">
			<a href="{% url 'forum_tema' predmet=predmet.naslov_id tema=tema.id %}">
				<span class="glyphicon  glyphicon-chevron-right" style="font-size:40px;color: #33caab"></span>
			</a>
		</div>
	</div>
	{% endfor %}
</section>

{% if user.is_authenticated %}
<div class="row">
	<div class="col-12 text-center">
		<a href="{% url 'forum_nova_tema' predmet=predmet.naslov_id %}" >
			<button type="button" class="btn btn-primary" style="background: #33caab">Додади тема</button>
		</a>
	</div>
</div>
{% endif %}

{% endblock %}