{% extends 'base.html' %}

{% block title %}
FINKIForum - {{ tema.naslov }}
{% endblock %}

{% block body %}
<h1>{{ tema.naslov }}</h1>
<h3>{{ tema.predmet.naslov }}</h3>

{% for poraka in tema.poraka_set.all %}
    <b>{{ poraka.avtor.ime }} {{ poraka.avtor.prezime }}</b>
<p>{{ poraka.tekst }}</p>
{% endfor %}

{% if user.is_authenticated %}
<form method="post" id="novaporaka">
	{% csrf_token %}
	<label for="poraka">Порака:</label><br>
	<textarea id="poraka" name="poraka" rows="4" cols="50" form="novaporaka"></textarea><br>
	<input type="submit" value="Прати">
</form>
{% endif %}

{% endblock %}