{% extends 'base.html' %}

{% block title %}
FINKIForum - Форум
{% endblock %}

{% block body %}

<div class="row">
	<div class="dropdown col-12 text-center">
		<h2>Форум</h2>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table table-bordered ">
			<thead>
				<tr>
					<th>Предмети</th>
					<th>Теми за дискусија</th>
				</tr>
			</thead>
			<tbody>
				{% for predmet in predmeti %}
				<tr>
					<td><a href="{% url 'forum_predmet' predmet=predmet.naslov_id %}">{{ predmet.naslov }}</a></td>
					<td>{{ predmet.tema_set.count }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}