{% extends 'base.html' %}

{% block title %}
FINKIForum - Распоред
{% endblock %}

{% block body %}
<table class="table table-bordered  text-lg-center ">
	<tr style="background:#33caab">
		<th></th>
		{% for den in denovi %}
			<th>{{ den }}</th>
		{% endfor %}
	</tr>
	{% for termin in usertermini %}
		<tr>
			{% for den in termin %}
				{% if forloop.first %}
				<th style="background:#33caab">{{ termin.0 }}:00 - {{ termin.0 }}:45</th>
				{% elif den %}
				<td>
					<div style="text-align: right;"><b>{{ den.prostorija }}</b></div>
					<div style="text-align: center;font-size: larger"><b>{{ den.predmet.naslov }}</b></div>
					<div style="text-align: right;">{{ den.profesor.prezime }} {{ den.profesor.titula }} {{ den.profesor.ime }}</div>
				</td>
				{% else %}
				<td></td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<div class="row">
	<div class="col-12 text-center">
		<a href="{% url 'raspored_izbor' %}" >
			<button type="button" class="btn btn-primary" style="background: #33caab">Избери предмети</button>
		</a>
	</div>
</div>
{% endblock %}