{% extends 'base.html' %}

{% block title %}
FINKIForum - Распоред
{% endblock %}

{% block body %}
<script>
	const profesori = [
		{% for profesor in profesori %}
		{
			ime: "{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}",
			id: {{ profesor.id }}
		},
		{% endfor %}
	];
	const predmeti = [
		{% for predmet in predmeti %}
		{
			ime: "{{ predmet.naslov }}",
			id: {{ predmet.id }}
		},
		{% endfor %}
	];
	function numPredmetiChange(event) {
		for(var i = 1 ; i <= event.value ; ++i) {
			document.getElementById('predmet' + i).style.display = 'block';
		}
		for(var j = parseInt(event.value) + 1 ; j <= 6 ; ++j) {
			document.getElementById('predmet' + j).style.display = 'none';
		}
	}
</script>
<form method="post" target="{% url 'raspored_izbor' %}">
	{% csrf_token %}
<div class="form-group row">
	<div class="col-lg-2">
		<label for="numpredmeti" class="col-form-label">
			Број на предмети:
		</label>
	</div>
	<div class="col-lg-10">
		<input id="numpredmeti" class="form-control" min="1" max="6" type="number" value="1" onchange="numPredmetiChange(this)">
	</div>
</div>
<div class="row form-group row" id="predmet1">
	<div class="col-lg-4">
		<select class="form-control col-lg-4" id="pred1">
			<option selected>Предмет</option>
			{% for predmet in predmeti %}
			<option value="{{ predmet.id }}">{{ predmet.naslov }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-4">
	<select class="form-control col-lg-4" id="prof1">
		<option selected>Професор</option>
		{% for profesor in profesori %}
		<option value="{{ profesor.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-lg-4">
		<select class="form-control" id="asis1">
			<option selected>Асистент</option>
			{% for profesor in profesori %}
			<option value="{{ predmet.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row form-group row" style="display: none;" id="predmet2">
	<div class="col-lg-4">
		<select class="form-control col-lg-4" id="pred2">
			<option selected>Предмет</option>
			{% for predmet in predmeti %}
			<option value="{{ predmet.id }}">{{ predmet.naslov }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-4">
	<select class="form-control col-lg-4" id="prof2">
		<option selected>Професор</option>
		{% for profesor in profesori %}
		<option value="{{ profesor.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-lg-4">
		<select class="form-control" id="asis2">
			<option selected>Асистент</option>
			{% for profesor in profesori %}
			<option value="{{ predmet.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row form-group row" style="display: none;" id="predmet3">
	<div class="col-lg-4">
		<select class="form-control col-lg-4" id="pred3">
			<option selected>Предмет</option>
			{% for predmet in predmeti %}
			<option value="{{ predmet.id }}">{{ predmet.naslov }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-4">
	<select class="form-control col-lg-4" id="prof3">
		<option selected>Професор</option>
		{% for profesor in profesori %}
		<option value="{{ profesor.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-lg-4">
		<select class="form-control" id="asis3">
			<option selected>Асистент</option>
			{% for profesor in profesori %}
			<option value="{{ predmet.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row form-group row" style="display: none;" id="predmet4">
	<div class="col-lg-4">
		<select class="form-control col-lg-4" id="pred4">
			<option selected>Предмет</option>
			{% for predmet in predmeti %}
			<option value="{{ predmet.id }}">{{ predmet.naslov }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-4">
	<select class="form-control col-lg-4" id="prof4">
		<option selected>Професор</option>
		{% for profesor in profesori %}
		<option value="{{ profesor.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-lg-4">
		<select class="form-control" id="asis4">
			<option selected>Асистент</option>
			{% for profesor in profesori %}
			<option value="{{ predmet.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row form-group row" style="display: none;" id="predmet5">
	<div class="col-lg-4">
		<select class="form-control col-lg-4" id="pred5">
			<option selected>Предмет</option>
			{% for predmet in predmeti %}
			<option value="{{ predmet.id }}">{{ predmet.naslov }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-4">
	<select class="form-control col-lg-4" id="prof5">
		<option selected>Професор</option>
		{% for profesor in profesori %}
		<option value="{{ profesor.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-lg-4">
		<select class="form-control" id="asis5">
			<option selected>Асистент</option>
			{% for profesor in profesori %}
			<option value="{{ predmet.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row form-group row" style="display: none;" id="predmet6">
	<div class="col-lg-4">
		<select class="form-control col-lg-4" id="pred6">
			<option selected>Предмет</option>
			{% for predmet in predmeti %}
			<option value="{{ predmet.id }}">{{ predmet.naslov }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-4">
	<select class="form-control col-lg-4" id="prof6">
		<option selected>Професор</option>
		{% for profesor in profesori %}
		<option value="{{ profesor.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-lg-4">
		<select class="form-control" id="asis6">
			<option selected>Асистент</option>
			{% for profesor in profesori %}
			<option value="{{ predmet.id }}">{{ profesor.prezime }} {{ profesor.titula }} {{ profesor.ime }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row  border-bottom border-primary">
	<div class="col-12 text-center">
		<input type="submit" style="border-color: #33cabb" class="btn" value="Потврди">
	</div>
</div>
</form>
{% endblock %}