{% extends 'base.html' %}

{% block title %}
FINKIForum - Регистрација
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static "app/css/LoginRegistracija.css" %}">
{% endblock %}

{% block body %}
<div class="main-w3layouts wrapper">
    <h1>Регистрација</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="{% url 'register' %}" method="post">
            	{% csrf_token %}
                <input class="text" type="text" name="ime" placeholder="Име" required="">
                <input class="text" type="text" name="prezime" placeholder="Презиме" required="">
                <input class="text email" type="email" name="email" placeholder="Емаил" required="">
                <input class="text" type="password" name="password" placeholder="Лозинка" required="">
                <input class="text w3lpass" type="password" name="confirmpassword" placeholder="Потврди лозинка" required="">
                <div class="wthree-text">
                	<ul>
					{% for error in errors %}
					  <li>{{ error }}</li>
					{% endfor %}
					</ul>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="Регистрирај се">
            </form>

        </div>
    </div>
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}